@model  List<MusicStoree.Models.Album>
@{
    ViewBag.Title = "ASP.NET MVC Music Store";
}

<link href="~/Content/css/style.css" rel="stylesheet">

<div style=" width: 20px;">
    <img src="~/Content/Images/home.png" />
</div>
<h3 class="text-uppercase text-info p-1">Recommended for you</h3>

<div class="container card-group">

    @foreach (var album in Model)
    {
            <div class="card">
                <a class="text-white" href="@Url.Action("Details", "Store", new { id = album.AlbumId })">
                    @if (@album.GenreId == 1)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/rock-music.jpg" style="width:85%" />
                    }
                    else if (@album.GenreId == 2)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/classical-music.png" style="width:80%" />
                    }
                    else if (@album.GenreId == 3)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/jazz-music.jpg" style="width:80%" />
                    }
                    else if (@album.GenreId == 4)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/pop-music.png" style="width:80%" />
                    }
                    else if (@album.GenreId == 5)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/disco-music.png" style="width:80%" />
                    }
                    else if (@album.GenreId == 6)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/latin-music.png" style="width:85%" />
                    }
                    else if (@album.GenreId == 7)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/metal-music.jpg" style="width:80%" />
                    }
                    else if (@album.GenreId == 8)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/alternative-music.png" style="width:80%" />
                    }
                    else if (@album.GenreId == 9)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/reggae-music.jpg" style="width:80%" />
                    }
                    else if (@album.GenreId == 10)
                    {
                        <img class="card-img-top p-2" alt="@album.Title" src="~/Content/Images/blues-music.jpg" style="width:80%" />
                    }
                    <span class="card-body">
                        <p class="text-uppercase text-lg-left text-info font-weight-ligh p-2">@album.Title</p>
                    </span>
                </a>
            </div>
            <html>
            &nbsp; &nbsp;
            </html>
    }
            
</div>